@import '../../style/colors.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;

  &:not(.visible) {
    display: none;
  }
}

.modal {
  background: white;
  margin: 10px;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  padding: 20px;
  color: $font-dark-color;
}

.modalHeader {
  font-size: 1.4rem;
  border-bottom: 2px solid $accent-color;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
}
