@import '../style/colors.scss';

.pageHeader {
  border-bottom: 4px solid $accent-color;
  text-align: center;
  padding: 20px 0;

  h1 {
    margin: 0;
  }
}

.mainContainer {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;

  h2 {
    font-size: 1.2rem;
  }

  h2:not(:first-child) {
    margin-top: 45px;
  }
}

.modalsContainer {
  max-width: 550px;
}

.codeSnippet {
  background: rgba(0, 0, 0, 0.4);
  height: 140px;
  width: 100%;
}
