@import '../style/colors.scss';

.pageHeader {
  border-bottom: 4px solid $accent-color;
  text-align: center;
  padding: 20px 0;

  h1 {
    margin: 0;
  }
}

.mainContainer {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;

  h2 {
    font-size: 1.2rem;
    margin-top: 0px;
  }

  h2:not(:first-child) {
    margin-top: 65px;
  }
}

.snippetsContainer {
  flex: 1;
}

.modalsContainer {
  width: 400px;
  margin-left: 55px;
}
