@import '../style/colors.scss';

.actionIcons {
  padding: 10px;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  > svg {
    margin-right: 15px;
    cursor: pointer;
  }
}

.filesListPanel {
  background: $kinda-black-color;
  color: $light-white-color;
  width: 320px;
}

.filesList {
  list-style-type: none;
  padding: 5px 0px;
  font-family: 'Courier New', Courier, monospace;

  .selected {
    background: rgba(0, 0, 0, 0.4);
  }

  .fileActionIcons {
    visibility: hidden;
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
    }
  }

  .fileName {
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }

    span {
      position: relative;
      top: 1px;
    }
  }

  li {
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background: rgba(0, 0, 0, 0.3);

      .fileActionIcons {
        visibility: visible;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
  }
}
