@import '../style/colors.scss';

.sharedEditorPage {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sharedEditorSectionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.editorWrapper {
  padding: 15px;
  overflow: auto;
  flex-grow: 1;
  border-right: 1px solid $accent-color;
}

.guideWrapper {
  overflow: auto;
  width: 900px;
  padding-left: 15px;
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .sharedEditorSectionsWrapper {
    flex-direction: column;
  }

  .editorWrapper {
    min-height: 300px;
    max-height: 300px;
    border-right: none;
    overflow: auto;

    textarea {
      min-height: 200px;
    }
  }

  .guideWrapper {
    width: 100%;
    flex: 1;
    overflow: auto;
  }
}
