@import './colors.scss';

@mixin tokenColors {
  .tokenError {
    color: #dcc;
  }

  .tokenErrorSource {
    color: #f44;
  }

  .tokenVirtual {
    color: #999;
  }

  .tokenComment,
  .tokenDesiredUnit {
    color: $accent-color;
  }
}

@mixin formattedCode {
  font-family: $expression-font-family;
  font-size: 1rem;
  line-height: 1.25rem;
  color: $font-light-color;

  sup {
    line-height: 0;
  }
}
