@import './colors.scss';

@mixin tokenColors {
  .tokenError {
    color: #dcc;
  }

  .tokenErrorSource {
    color: #f44;
  }

  .tokenVirtual {
    color: #999;
  }

  .tokenComment,
  .tokenDesiredUnit {
    color: $accent-color;
  }
}
