.app {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contentContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.content {
  width: 100%;
  height: 100%;
}
