@import '../style/colors.scss';

.app {

}

.headerBar {
  height: 65px;
  background: $wine-color;
  color: $light-white-color;
  padding: 0 15px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.contentContainer {
  max-width: 1024px;
  margin: 0px auto;
}

.card {
  background: $light-white-color;
  color: $kinda-black-color;
  box-shadow: 0px 0px 5px 0px transparentize($kinda-black-color, 0.5);
  margin: 30px 30px;
  padding: 20px;
  min-height: calc(100vh - 200px);
}

.addExpressionButton {
  margin-top: 10px;
  background: $wine-color;
  color: $light-white-color;
  border: 0px none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;

  &:active {
    background: $eastern-blue-color;
  }
}
