@import '../style/colors.scss';

.headerBar {
  height: 65px;
  background: $wine-color;
  color: $light-white-color;
  padding: 0 15px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.icons {
  height: 100%;
  display: flex;
  align-items: center;
}

.addNewCardIcon {
  cursor: pointer;
}

.contentContainer {
  max-width: 1024px;
  margin: 0px auto;
}
