@import '../../../style/colors.scss';

.toggleButton {
  display: inline-flex;

  .item {
    display: inline-block;
    border: 2px solid white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    padding: 8px;
    text-align: center;
    color: #ccc;

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }

    & + .item {
      border-left: 0;
    }

    &.selected {
      background-color: $accent-color;
      border-top-color: $accent-color;
      border-bottom-color: $accent-color;
      color: black;
    }

    &:first-child.selected {
      border-left-color: $accent-color;
    }

    &:last-child.selected {
      border-right-color: $accent-color;
    }
  }
}
