@import '../style/colors.scss';

$expression-font-family: 'Courier New', Courier, monospace;

.expression {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: $expression-font-family;
  line-height: 25px;
  padding: 0 2px;

  input {
    font-family: $expression-font-family;
    border: 0px;
    font-size: 1rem;
    height: 22px;
    background: transparent;
    width: 100%;
    outline: none;
  }

  &:hover {
    background: transparentize($wine-color, 0.7);
    .controls {
      visibility: visible;
    }
  }

  .value {
    flex: 1;
    position: relative;

    height: 25px;

    & > div {
      position: absolute;
    }

    .valueInput {
      z-index: 2;
      width: 100%;
    }

    .valueDisplay {
      z-index: 1;
      white-space: pre;
      overflow: hidden;
      max-width: 100%;
    }
  }

  .valueText {
    opacity: 0.5;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }

  .controls {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0 5px;
    color: $kinda-black-color;

    svg {
      cursor: pointer;
      margin-left: 7px;
    }
  }
}

.newLineResult {
  font-family: $expression-font-family;
  opacity: 0.5;
  display: none;

  &.visible {
    display: block;
  }
}
