@import '../../style/colors.scss';

$expression-font-family: 'Courier New', Courier, monospace;

.codeEditor {
  height: 100%;
}

.codeWrapper {
  position: relative;
  height: 100%;
  margin-top: 20px;
}

@mixin commonCodeFormat {
  font-family: $expression-font-family;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0;
  padding: 8px;
  border: 0;
  overflow: hidden;
  color: $font-light-color;
}

.editorTextarea {
  @include commonCodeFormat;
  position: absolute;
  top: 0;
  left: 0;
  min-width: calc(100% - 16px);
  resize: none;
  background: transparent;
  color: transparent;
  caret-color: $font-light-color;
  min-height: 100%;

  &::placeholder {
    color: white;
    opacity: 0.5;
  }
}

.formattedCode {
  @include commonCodeFormat;
  width: fit-content;

  &:not(.withoutHighlighting) {
    .tokenError {
      color: red;
    }

    .tokenVirtual {
      color: #999;
    }

    .tokenComment {
      color: $accent-color;
    }
  }
}

.radioButtons {
  margin-top: 1px;
}
