@import '../style/colors.scss';

.card {
  background: $light-white-color;
  color: $kinda-black-color;
  box-shadow: 0px 0px 5px 0px transparentize($kinda-black-color, 0.5);
  margin: 30px 30px;
  padding: 20px;
}
