@import '../style/colors.scss';

$expression-font-family: 'Courier New', Courier, monospace;

.card {
  background: $light-white-color;
  color: $kinda-black-color;
  box-shadow: 0px 0px 5px 0px transparentize($kinda-black-color, 0.5);
  padding: 20px;
  position: relative;

  &.notActive {
    opacity: 0.5;
  }

  &.isDragging {
    box-shadow: 0px 0px 15px 0px transparentize($kinda-black-color, 0.5);
  }
}

.closeCardButton {
  position: absolute;
  right: -12px;
  top: -12px;
  font-size: 32px;
  background: white;
  height: 32px;
  border-radius: 16px;

  svg {
    display: block;
    cursor: pointer;
  }
}

.cardFooter {
  margin-top: 20px;
  margin-bottom: -10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #aaa;
  font-size: 0.8rem;

  button {
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    border-radius: 2px;
    display: flex;
    height: 24px;

    svg {
      margin-right: 4px;
    }
  }
}

.codeWrapper {
  position: relative;
}

@mixin commonCodeFormat {
  font-family: $expression-font-family;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0;
  padding: 8px;
  border: 0;
  overflow: hidden;
}

.codeEditor {
  @include commonCodeFormat;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  resize: none;
  background: transparent;
  color: transparent;
  caret-color: black;
}

.formattedCode {
  @include commonCodeFormat;

  .tokenError {
    color: red;
  }

  .tokenVirtual {
    color: #999;
  }
}
