@import '../style/colors.scss';

.card {
  background: $light-white-color;
  color: $kinda-black-color;
  box-shadow: 0px 0px 5px 0px transparentize($kinda-black-color, 0.5);
  padding: 20px;
  position: relative;

  &.notActive {
    opacity: 0.5;
  }
}

.closeCardButton {
  position: absolute;
  right: -12px;
  top: -12px;
  font-size: 32px;
  background: white;
  height: 32px;
  border-radius: 16px;

  svg {
    display: block;
    cursor: pointer;
  }
}
